@font-face {
  font-family: Montserrat;
  src: url("Montserrat-Regular.otf");
}

@font-face {
  font-family: MontserratBold;
  src: url("Montserrat-Bold.otf");
}

body {
  width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
}

body {
  font-size: 13px;
  line-height: 18px;
  background: #fafafa;
  color: #000;
}

@media (min-width: 992px) {
  .wrap-container-lg {
    max-width: 960px;
  }
}

.wrap-container-lg {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.banner-top {
  background-color: #E91E63;
  padding-bottom: 76px;
  .banner-content {
    padding-top: 76px;
    .banner-left {
      padding-top: 130px;
      .content {
        .top {
          h1 {
            font-family: Montserrat, sans-serif;
            color: rgba(255, 255, 255, 1);
            font-weight: 400;
            line-height: 46px;
            font-size: 40px;
          }
        }
        .center {
          h1 {
            font-family: MontserratBold, sans-serif;
            color: rgba(255, 255, 255, 1);
            font-weight: 700;
            line-height: 66px;
            font-size: 60px;
            margin-top: 0;
          }
        }
        .bottom {
          background-color: black;
          h6 {
            font-family: Montserrat, sans-serif;
            color: rgba(247, 237, 0, 1);
            font-weight: 400;
            line-height: 22px;
            font-size: 16px;
            margin-top: 0;
            padding-top: 10px;
            padding-bottom: 8px;
            padding-left: 11px;
          }
        }
      }
    }
    .banner-right {
      img {
        max-width: 100%;
      }
    }
  }
}

.personal {
  padding-bottom: 10px;
  .personal-content {
    .personal-left {
      .content {
        padding-top: 130px;
        .top {
          font-family: MontserratBold;
          color: rgba(0, 0, 0, 1);
          font-weight: 700;
          line-height: 36px;
          font-size: 30px;
          span {
            color: #EF106E;
            font-size: 40px;
          }
        }
        .center {
          padding-left: 26px;
          padding-top: 26px;
          max-width: 376px;
          p {
            font-family: Montserrat;
            color: rgba(0, 0, 0, 1);
            font-weight: 400;
            line-height: 23px;
            font-size: 16px;
          }
        }
        .form-bottom {
          padding-top: 15px;
          padding-left: 26px;
          .list {
            font-family: Montserrat;
            color: rgba(0, 0, 0, 1);
            font-weight: 400;
            line-height: 23px;
            font-size: 18px;
            margin-bottom: 20px;
            .info-left {
              width: 30%;
              float: left;
              border-bottom: 1px solid #C4C4C4;
              padding-bottom: 10px;
              padding-top: 20px;
            }
            .info-right {
              width: 70%;
              float: left;
              border-bottom: 1px solid #C4C4C4;
              padding-bottom: 10px;
              padding-top: 20px;
            }
          }
          .button-personal {
            button {
              margin-top: 35px;
              border-radius: 1px;
              background-color: black;
              padding: 10px 40px 10px 40px;
              span {
                color: white;
                font-weight: bold;
              }
            }
          }
        }
      }
    }
    .personal-right {
      margin-top: 164px;
      img {
        max-width: 100%;
      }
    }
  }
}

.skill {
  background-color: #EDEDED;
  padding-bottom: 80px;
  .title {
    padding-top: 70px;
    font-family: MontserratBold;
    color: rgba(0, 0, 0, 1);
    font-weight: 700;
    line-height: 36px;
    font-size: 30px;
    span {
      color: #EF106E;
      font-size: 40px;
    }
  }
  .content{
    padding-top: 45px;
    .list{
      min-height: 40px;
      .icon{
        width: 10%;
        float: left;
        font-size: 40px;
        color: #9C9C9C;
      }
      .icon-title{
        width: 90%;
        float: left;
        h6{
          font-family: 'Montserrat', sans-serif;
          color: rgba(54,54,54,1);
          font-weight: 400;
          line-height: 20px;
          font-size: 16px;
          padding-left: 10px;
        }
      }
    }
    .skill-description{
      padding-left: 44px;
      span{
        font-family: 'Montserrat', sans-serif;
        color: rgba(97,97,97,1);
        font-weight: 400;
        line-height: 19px;
        font-size: 13px;
      }
    }
  }
}
.learning{
  padding-bottom: 40px;
  .learning-content{
    .leaning-left{
      .top{
        padding-top: 70px;
        font-family: MontserratBold;
        color: black;
        font-weight: 700;
        line-height: 36px;
        font-size: 30px;
        span{
          color: #EF106E;
          font-size: 40px;
        }
      }
      .center{
        padding-top: 26px;
        padding-left: 13px;
        .inside-center{
          border-bottom: 1px solid #CFCFCF;
          padding-bottom: 26px;
          span{
            font-family: 'Montserrat', sans-serif;
            color: rgba(79,79,79,1);
            font-weight: 400;
            line-height: 22px;
            font-size: 16px;
          }
        }
      }
      .bottom{
        .list{
          padding-top: 26px;
          .list-top{
            min-height: 43px;
            .list-number{
              width: 10%;
              float: left;
              font-size: 37px;
              font-weight: 700;
              padding-top:15px;
              color: #4A4A4A;
            }
            .list-title{
              width: 90%;
              float: left;
              h5{
                font-family: 'Montserrat', sans-serif;
                color: rgba(74,74,74,1);
                font-weight: 400;
                line-height: 22px;
                font-size: 18px;
              }
            }
          }
          .list-bottom{
            max-width: 430px;
            p{
              padding-left: 55px;
              font-family: 'Montserrat', sans-serif;
              color: rgba(74,74,74,1);
              font-weight: 400;
              line-height: 17px;
              font-size: 14px;
            }
          }
        }
      }
    }
    .learning-right{
      img{
        max-width: 100%;
        padding-top: 100px;
      }
    }
  }
}
.career{
  background-color: #F2F2F2;
  .career-content{
    .top{
      padding-top: 70px;
      font-family: MontserratBold;
      color: black;
      font-weight: 700;
      line-height: 36px;
      font-size: 30px;
      span{
        color: #EF106E;
        font-size: 40px;
      }
    }
    .center{
      padding-top: 50px;
      padding-bottom: 80px;
      .career-list{
        .career-top{
          h6{
            font-family: 'Montserrat', sans-serif;
            color: rgba(0,0,0,1);
            font-weight: 400;
            line-height: 22px;
            font-size: 16px;
            margin-bottom: 0;
          }
        }
        .career-top-desc{
          font-family: 'Montserrat', sans-serif;
          color: rgba(110,110,110,1);
          font-weight: 400;
          line-height: 19px;
          font-size: 13px;
        }
        .time{
          margin-top: 20px;
          min-height: 35px;
          .time-left{
            width: 37%;
            float: left;
            background-color: black;
            padding-top: 7px;
            padding-bottom: 6px;
            span{
              font-family: 'Montserrat', sans-serif;
              color: rgba(255,255,255,1);
              font-weight: 400;
              line-height: 19px;
              font-size: 13px;
              padding-top: 10px;
              padding-bottom: 10px;
              padding-left: 19px;
            }
          }
          hr{
            width: 62%;
            float: left;
            border-top: 1px solid black;
            margin-top: 15px;
          }
        }
        .bottom{
          padding-top: 15px;
          span{
            font-family: 'Montserrat', sans-serif;
            color: rgba(0,0,0,1);
            font-weight: 400;
            line-height: 19px;
            font-size: 13px;
          }
        }
      }
    }
  }
}
.customer{
  background-color: #FFD800;
  padding-top: 135px;
  padding-bottom: 135px;
  text-align: center;
  .customer-content{
    .icon{
      color: white;
      font-size: 40px;
    }
    .number{
      padding-top: 20px;
      p{
        color: rgba(46,46,46,1);
        font-weight: 700;
        line-height: 40px;
        font-size: 36px;
      }
    }
    .description{
      font-family: Montserrat;
      color: rgba(46,46,46,1);
      font-weight: 400;
      line-height: 17px;
      font-size: 13px;
    }
  }
}
.rewards{
  background-color: #E91E63;
  padding-top: 77px;
  padding-bottom: 77px;
  .reward-content{
    .content-left{
      img{
        max-width: 100%;
      }
    }
    .content-right{
      margin-top: 180px;
      .top{
        padding-bottom: 50px;
        border-bottom: 1px solid #F493B4;
        p{
          font-family: 'Montserrat', sans-serif;
          color: rgba(255,255,255,1);
          font-weight: 400;
          line-height: 27px;
          font-size: 21px;
        }
      }
      .bottom{
        padding-top: 40px;
        .bottom-left{
          width: 50%;
          float: left;
          .number-left{
            width: 30%;
            float: left;
            font-family: 'Montserrat', sans-serif;
            color: rgba(0,0,0,1);
            font-weight: 400;
            line-height: 61px;
            font-size: 55px;
          }
          .rewards-right{
            width: 70%;
            float: left;
            font-family: 'Montserrat', sans-serif;
            color: rgba(255,255,255,1);
            font-weight: 400;
            line-height: 22px;
            font-size: 16px;
            padding-top: 10px;
          }
        }
        .bottom-right{
          width: 50%;
          float: left;
          .number-left{
            width: 30%;
            float: left;
            font-family: 'Montserrat', sans-serif;
            color: rgba(0,0,0,1);
            font-weight: 400;
            line-height: 61px;
            font-size: 55px;
          }
          .rewards-right{
            width: 70%;
            float: left;
            font-family: 'Montserrat', sans-serif;
            color: rgba(255,255,255,1);
            font-weight: 400;
            line-height: 22px;
            font-size: 16px;
            padding-top: 10px;
          }
        }
      }
    }
  }
}
.contact{
  background-color: white;
  padding-bottom: 30px;
  .contact-content{
    padding-top: 70px;
    .title{
      font-family: MontserratBold;
      color: black;
      font-weight: 700;
      line-height: 36px;
      font-size: 30px;
      span{
        color: #EF106E;
        font-size: 40px;
      }
    }
    .contact-right{
      padding-top: 15px;
      padding-bottom: 20px;
      .top{
        border-bottom: 1px solid #EF106E ;
        padding-bottom: 15px;
        .top-title{
          p{
            font-family: 'Montserrat', sans-serif;
            color: rgba(239,16,110,1);
            font-weight: 400;
            line-height: 22px;
            font-size: 18px;
          }
        }
        .top-content{
          p{
            font-family: 'Montserrat', sans-serif;
            color: rgba(239,16,110,1);
            font-weight: 400;
            line-height: 22px;
            font-size: 14px;
          }
        }
      }
      .bottom{
        padding-top: 30px;
        .bottom-title{
          p{
            font-family: 'Montserrat', sans-serif;
            color: rgba(239,16,110,1);
            font-weight: 400;
            line-height: 18px;
            font-size: 14px;
            margin-bottom: 25px;
          }
        }
        .bottom-form{
          .bottom-form-left{
            input{
              width: 100%;
              margin-bottom: 10px;
              border:1px solid #EF106E;
              padding-top: 7px;
              padding-bottom: 7px;
              padding-left: 3px;
            }
          }
          .bottom-form-right{
            textarea{
              width: 100%;
              border:1px solid #EF106E;
              padding-left: 3px;
              height: 122px;
            }
          }
        }
        .bottom-button{
          button{
            background-color: rgba(36,36,36,1);
            color: #ffffff;
            font-weight: 700;
            line-height: 22px;
            font-size: 14px;
            border-radius: 0;
            span{
              padding-left: 25px;
              padding-right: 30px;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 1199px) {
  .learning .learning-content .leaning-left .bottom .list .list-top .list-number
  {
    width: 15%;
  }
  .learning .learning-content .leaning-left .bottom .list .list-top .list-title{
    width: 85%;
  }
  .learning .learning-content .leaning-left .bottom .list .list-bottom p
  {
    padding-left: 67px;
  }
  .career .career-content .center .career-list .time .time-left
  {
    width: 45%;
  }
  .career .career-content .center .career-list .time hr{
    width: 55%;
  }
}

@media (max-width: 991px) {
  .banner-top .banner-content .banner-left
  {
    padding-top: 0;
    padding-bottom: 20px;
  }
  .banner-top .banner-content{
    text-align: center;
  }
  .personal .personal-content .personal-right {
    margin-top: 70px;
  }
  .skill .content .skill-description{
    padding-bottom: 20px;
  }
  .learning .learning-content .leaning-left .bottom .list .list-bottom{
    max-width: 100%;
  }
  .learning .learning-content .leaning-left .bottom .list .list-bottom{
    max-width: 100%;
  }
  .learning .learning-content .leaning-left .bottom .list .list-bottom p{
    padding-left: 109px;
  }
  .career-list{
    padding-bottom: 20px;
  }
  .career .career-content .center .career-list .time .time-left{
    width: 30%;
  }
  .career .career-content .center .career-list .time hr{
    width: 70%;
  }
}

@media (max-width: 767px) {
  .personal .personal-content .personal-right {
    margin-top: 70px;
  }
  .learning .learning-content .learning-right img{
    padding-top: 60px;
  }
  .rewards .reward-content .content-right {
    margin-top: 80px;
  }
  .customer{
    padding-top: 65px;
    padding-bottom: 65px;
  }
  .career .career-content .center .career-list .time .time-left{
    text-align: center;
  }
  .career .career-content .center .career-list .time .time-left span{
    padding-left: 0;
  }
}

@media (max-width: 479px) {
  .banner-top .banner-content .banner-left .content .top h1{
    font-size: 36px;
  }
  .banner-top .banner-content .banner-left .content .center h1{
    font-size: 45px;
  }
  .personal .personal-content .personal-left .content {
    padding-top: 70px;
  }
  .personal .personal-content .personal-right {
    margin-top: 70px;
  }
  .learning .learning-content .leaning-left .bottom .list .list-bottom p{
    padding-left: 63px;
  }
  .rewards .reward-content .content-right .bottom .bottom-left, .rewards .reward-content .content-right .bottom .bottom-right{
    width: 100%;
  }
  .learning .learning-content .leaning-left .bottom .list .list-top .list-number{
    font-size: 30px;
  }
  .rewards .reward-content .content-right .top p{
    font-size: 17px;
  }
  .rewards .reward-content .content-right
  {
    margin-top: 60px;
  }
}
@media (max-width: 425px) {
  .personal .personal-content .personal-left .content .center,.personal .personal-content .personal-left .content .form-bottom
  {
    padding-left: 0;
  }
  .personal .personal-content .personal-left .content .form-bottom .list
  {
    font-size: 14px;
  }
}
