@font-face {
  font-family: Arima;
  src: url("ArimaMadurai-Regular.otf");
}

@font-face {
  font-family: Roboto;
  src: url("Roboto-Light.ttf");
}

@font-face {
  font-family: Montserrat;
  src: url("Montserrat-Regular.otf");
}

body {
  width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
  height: 100%;
}

body {
  font-size: 13px;
  line-height: 18px;
  background: #fafafa;
  color: #000;
}

.banner-top {
  background-image: url("61473069_346879289347614_6161187331219914752_n.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  padding-bottom: 149px;
  .banner-content {
    margin-top: 338px;
    margin-left: 704px;
    padding-top: 15px;
    padding-left: 32px;
    background-color: rgba(255, 255, 255, 0.2);
    border-right: 2px solid #10B36E;
    padding-bottom: 152px;
    .top-title {
      h2 {
        color: rgba(255, 193, 7, 1);
        font-weight: 700;
        line-height: 47px;
        font-size: 41px;
      }
    }
    hr {
      max-width: 30%;
    }
    .top-title-description {
      p {
        color: rgba(0, 0, 0, 1);
        font-weight: 400;
        line-height: 21px;
        font-size: 15px;
      }
    }
  }
}

.information {
  padding-top: 85px;
  padding-bottom: 80px;
  background-color: white;
  .information-content {
    .content-left {
      margin-top: 145px;
      .top-title {
        h2 {
          font-family: Arima;
          color: #3150a2;
          font-weight: 700;
          line-height: 36px;
          font-size: 30px;
        }
      }
      .center-title {
        h6 {
          font-family: Roboto;
          color: rgba(97, 97, 97, 1);
          font-weight: 700;
          line-height: 27px;
          font-size: 21px;
          padding-top: 50px;
          padding-bottom: 55px;
        }
      }
      .bottom-info {
        ul {
          padding-left: 0;
          list-style-type: none;
          color: rgba(61, 61, 61, 1);
          font-weight: 400;
          line-height: 25px;
          font-family: Roboto;
          font-size: 19px;
          i {
            padding-right: 10px;
            color: #515D7D;
          }
        }
      }
      .info-button {
        margin-top: 25px;
        button {
          padding-left: 45px;
          padding-right: 45px;
          background-color: #3150A2;
          border-radius: 30px;
          span {
            color: #ffffff;
            font-weight: 600;
            line-height: 40px;
            font-size: 14px;
            font-family: Montserrat;
          }
        }
      }
    }
    .content-right {
      img {
        max-width: 100%;
      }
    }
  }
}

.special-skill {
  padding-top: 40px;
  padding-bottom: 115px;
  .special-skill-content {
    .top-title {
      h2 {
        color: rgba(94, 93, 93, 1);
        font-weight: 400;
        line-height: 34px;
        font-size: 30px;
        font-family: Roboto;
      }
    }
    .top-title-sub {
      h6 {
        font-family: Roboto;
        font-size: 16px;
        color: rgba(92, 89, 89, 1);
        font-weight: 400;
        line-height: 20px;
      }
    }
    .list-skill {
      margin-top: 83px;
      .list-skill-left {
        .top-title {
          background-color: #2196F3;
          text-align: right;
          padding-top: 1px;
          padding-bottom: 1px;
          padding-right: 10px;
          h4 {
            font-family: Roboto;
            color: rgba(255, 255, 255, 1);
            font-weight: 700;
            line-height: 25px;
            font-size: 21px;
          }
        }
        .bottom-list {
          .list {
            padding-top: 30px;
            .list-left {
              width: 89%;
              float: left;
              .top {
                h6 {
                  color: rgba(33, 33, 33, 1);
                  font-weight: 600;
                  line-height: 20px;
                  font-size: 16px;
                  font-family: Roboto;
                }
              }
              .bottom {
                p {
                  color: rgba(110, 110, 110, 1);
                  font-weight: 400;
                  line-height: 20px;
                  font-size: 14px;
                  font-family: Roboto;
                }
              }
            }
            .list-right {
              width: 11%;
              float: left;
              font-size: 40px;
              color: #2196F3;
              text-align: right;
              padding-top: 10px;
              i {

              }
            }
          }
        }
      }
      .list-skill-right {
        .top-title {
          background-color: #EBC500;
          text-align: left;
          padding-top: 1px;
          padding-bottom: 1px;
          padding-left: 10px;
          h4 {
            font-family: Roboto;
            color: rgba(255, 255, 255, 1);
            font-weight: 700;
            line-height: 25px;
            font-size: 21px;
          }
        }
        .bottom-list {
          .list {
            padding-top: 30px;
            .list-right {
              width: 89%;
              float: left;
              .top {
                h6 {
                  color: rgba(33, 33, 33, 1);
                  font-weight: 600;
                  line-height: 20px;
                  font-size: 16px;
                  font-family: Roboto;
                }
              }
              .bottom {
                p {
                  color: rgba(110, 110, 110, 1);
                  font-weight: 400;
                  line-height: 20px;
                  font-size: 14px;
                  font-family: Roboto;
                }
              }
            }
            .list-left {
              width: 11%;
              float: left;
              font-size: 40px;
              color: #EBC500;
              text-align: left;
              padding-top: 10px;
              i {

              }
            }
          }
        }
      }
    }
  }
}

.my-exp {
  padding-top: 66px;
  padding-bottom: 45px;
  background-color: white;
  .my-exp-content {
    .top-title {
      h2 {
        color: rgba(0, 0, 0, 1);
        font-weight: 300;
        line-height: 34px;
        font-size: 30px;
        font-family: Roboto;
        padding-bottom: 20px;
      }
    }
    hr {
      max-width: 12%;
      border-top: 2px solid #FF5722;
    }
    .my-exp-list {
      padding-top: 40px;
      max-width: 690px;
      margin: 0 auto;
      .list-type-one {
        margin-bottom: 50px;
        min-height: 87px;
        .list-left {
          width: 49%;
          float: left;
          text-align: right;
          padding-right: 30px;
          .top {
            h6 {
              color: rgba(255, 87, 34, 1);
              font-weight: 700;
              line-height: 20px;
              font-size: 16px;
              margin-top: 0;
            }
          }
          .bottom {
            span {
              color: rgba(71, 71, 71, 1);
              font-weight: 400;
              line-height: 20px;
              font-size: 14px;
              font-family: Roboto;
            }
          }
        }
        .col-center {
          width: 11px;
          float: left;
          background-color: #EBEBEB;
          height: 85px;
        }
        .list-right {
          width: 49%;
          float: left;
          h1 {
            color: rgba(214, 214, 214, 1);
            font-weight: 700;
            line-height: 68px;
            font-size: 64px;
            margin-top: 0;
            padding-left: 30px;
          }
        }
      }
      .list-type-two {
        margin-bottom: 50px;
        min-height: 87px;
        .list-left {
          width: 49%;
          float: left;
          text-align: right;
          padding-right: 30px;
          h1 {
            color: rgba(214, 214, 214, 1);
            font-weight: 700;
            line-height: 68px;
            font-size: 64px;
            margin-top: 0;
            padding-left: 30px;
          }
        }
        .col-center {
          width: 11px;
          float: left;
          background-color: #EBEBEB;
          height: 85px;
        }
        .list-right {
          width: 49%;
          float: left;
          padding-left: 30px;
          .top {
            h6 {
              color: rgba(255, 87, 34, 1);
              font-weight: 700;
              line-height: 20px;
              font-size: 16px;
              margin-top: 0;
            }
          }
          .bottom {
            span {
              color: rgba(71, 71, 71, 1);
              font-weight: 400;
              line-height: 20px;
              font-size: 14px;
              font-family: Roboto;
            }
          }
        }
      }
    }
  }
}

.rewards {
  padding-top: 30px;
  padding-bottom: 30px;
  .rewards-content {
    max-width: 700px;
    margin: 0 auto;
    margin-top: 60px;
    .text-left {
      .top {
        h2 {
          color: rgba(33, 33, 33, 1);
          font-weight: 300;
          line-height: 32px;
          font-size: 30px;
          font-family: Roboto;
        }
      }
      .center {
        p {
          color: rgba(97, 97, 97, 1);
          font-weight: 400;
          line-height: 20px;
          font-size: 14px;
          font-family: Roboto;
        }
      }
    }
    .img-right {
      max-width: 100%;
    }
  }
}

.comments {
  background-color: white;
  .comments-content {
    padding-top: 30px;
    padding-bottom: 90px;
    .top-title {
      text-align: center;
      h3 {
        color: rgba(222, 22, 118, 1);
        font-weight: 700;
        line-height: 30px;
        font-size: 24px;
      }
    }
    .content-bottom {
      max-width: 708px;
      margin: 0 auto;
      .list {
        margin-top: 40px;
        height: 154px;
        .list-left {
          width: 23%;
          float: left;
          img {
            max-width: 100%;
            border-radius: 110px;
          }
        }
        .list-right {
          max-width: 75%;
          float: left;
          .top {
            h6 {
              color: rgba(0, 0, 0, 1);
              font-weight: 700;
              line-height: 20px;
              font-size: 16px;
            }
          }
          .bottom {
            p {
              color: rgba(0, 0, 0, 1);
              font-weight: 400;
              line-height: 18px;
              font-family: Roboto;
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}

.footer {
  padding-top: 102px;
  padding-bottom: 87px;
  background-color: #5A6D7E;
  .footer-content {
    max-width: 965px;
    margin: 0 auto;
    .content-left {
      .top{
        h1{
          color: rgba(255,255,255,1);
          font-weight: 400;
          line-height: 42px;
          font-size: 36px;
          font-family: Roboto;
        }
      }
      .bottom{
        margin-top: 20px;
        p{
          color: rgba(255,255,255,1);
          font-weight: 400;
          line-height: 22px;
          font-size: 14px;
          font-family: Roboto;
        }
      }
    }
    .content-right {
      font-family: Roboto;
      color: white;
      padding: 35px;
      border: 2px solid white;
      ul{
        padding-left: 0;
        list-style-type: none;
        li{
          margin-top: 5px;
          span{
            font-size: 14px;
          }
          i{
            font-size: 21px;
            padding-right: 10px;
          }
        }
      }
      .bottom{
        .bottom-title{
          margin-top: 15px;
          h5{
            color: rgba(255,255,255,1);
            font-weight: 400;
            line-height: 24px;
            font-size: 18px;
          }
        }
        input{
          width: 100%;
          margin-bottom: 10px;
          padding-top: 7px;
          padding-bottom: 7px;
          padding-left: 5px;
          border: 1px solid #eee;
        }
        .form-button{
          button{
            background-color: rgba(219,105,0,1);
            border-radius: 0;
            padding-left: 45px;
            padding-right: 45px;
            span{
              font-family: Roboto;
              color: #ffffff;
              font-weight: 600;
              line-height: 20px;
              letter-spacing: 1px;
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 1199px) {
  .banner-top .banner-content
  {
    margin-left: 600px;
  }
}

@media (max-width: 991px) {
  .banner-top .banner-content
  {
    margin-left: 460px;
  }
  .information .information-content .content-left{
    margin-top: 0;
    margin-bottom: 30px;
  }

}

@media (max-width: 767px) {
  .information .information-content .content-left{
    text-align: center;
  }
  .rewards .rewards-content .img-right{
    text-align: center;
    margin-top: 30px;
  }
  .rewards .rewards-content{
    margin-top: 0;
  }
  .comments .comments-content .content-bottom .list .list-left{
    float: none;
    width: 100%;
  }
  .comments .comments-content .content-bottom .list .list-right{
    float: none;
    max-width: 100%;
  }
  .comments .comments-content .content-bottom{
    text-align: center;
  }
  .comments .comments-content .content-bottom .list{
    min-height: 250px;
  }
  .footer{
    padding-top: 50px;
  }
}
@media  (max-width: 665px){
  .banner-top .banner-content{
    display: none;
  }
  .banner-top{
    height: 300px;
  }
  
}
@media (max-width: 578px) {
  .my-exp .my-exp-content .my-exp-list .list-type-one .list-right{
    width: 40%;
  }
  .my-exp .my-exp-content .my-exp-list .list-type-one,.my-exp .my-exp-content .my-exp-list .list-type-two{
    min-height: 130px;
  }
  .my-exp .my-exp-content .my-exp-list .list-type-two .list-right{
    width: 40%;
  }
}
@media (max-width: 578px) {
  .comments .comments-content .content-bottom .list{
    min-height: 290px;
    margin-bottom: 55px;
  }
}

@media (max-width: 479px) {

}
@media (max-width: 419px) {
  .my-exp .my-exp-content .my-exp-list .list-type-one,.my-exp .my-exp-content .my-exp-list .list-type-two{
    min-height: 150px;
  }
  .my-exp .my-exp-content .my-exp-list .list-type-one{
    margin-bottom: 15px;
  }
}
@media (max-width: 464px) {

}
@media (max-width: 425px) {
  .comments .comments-content .content-bottom .list{
    margin-bottom: 100px;
  }
}
@media (max-width: 419px) {
  .my-exp .my-exp-content .my-exp-list .list-type-one,.my-exp .my-exp-content .my-exp-list .list-type-two{
    min-height: 230px;
  }
}
@media (max-width: 375px)
{
  .special-skill .special-skill-content .list-skill .list-skill-left .bottom-list .list .list-left{
    width: 80%;
  }
  .special-skill .special-skill-content .list-skill .list-skill-left .bottom-list .list .list-right{
    width: 20%;
  }
}
