@font-face {
  font-family: OpenSans;
  src: url("OpenSans-Regular.ttf"); }
@font-face {
  font-family: OpenSansLight;
  src: url("OpenSans-Light.ttf"); }
@font-face {
  font-family: Roboto;
  src: url("Roboto-Regular.ttf"); }
@font-face {
  font-family: RobotoLight;
  src: url("Roboto-Regular.ttf"); }
@font-face {
  font-family: RobotoSlab;
  src: url("RobotoSlab-Regular.ttf"); }
body {
  width: 100%;
  margin: 0 auto;
  overflow-x: hidden; }

body {
  font-size: 13px;
  line-height: 18px;
  background: #fafafa;
  color: #000; }

.banner-top {
  background-color: #E91E63;
  padding-bottom: 185px; }
  .banner-top .banner-top-content {
    padding-top: 118px; }
    .banner-top .banner-top-content .content-left {
      padding-top: 75px; }
      .banner-top .banner-top-content .content-left .top-title h1 {
        color: white;
        font-weight: 700;
        line-height: 55px;
        font-size: 45px;
        font-family: OpenSans, sans-serif; }
      .banner-top .banner-top-content .content-left .sub-top-title {
        margin-top: 32px;
        border-bottom: 1px solid #F16D99; }
        .banner-top .banner-top-content .content-left .sub-top-title h3 {
          color: white;
          font-weight: 700;
          line-height: 27px;
          font-size: 24px;
          font-family: OpenSans, sans-serif; }
      .banner-top .banner-top-content .content-left .bottom {
        background-color: #FFC107;
        margin-top: 15px;
        height: 103px; }
        .banner-top .banner-top-content .content-left .bottom .left {
          width: 117px;
          float: left;
          text-align: center;
          padding-top: 11px; }
          .banner-top .banner-top-content .content-left .bottom .left img {
            max-width: 71%;
            border-radius: 110px; }
        .banner-top .banner-top-content .content-left .bottom .right {
          float: left;
          margin-top: 19px; }
          .banner-top .banner-top-content .content-left .bottom .right .text .text-top h6 {
            color: #212121;
            font-weight: 400;
            line-height: 20px;
            font-family: OpenSans;
            font-size: 16px; }
          .banner-top .banner-top-content .content-left .bottom .right .text .text-bottom p {
            color: #212121;
            line-height: 17px;
            font-size: 13px;
            font-family: OpenSans, sans-serif; }
      .banner-top .banner-top-content .content-left .banner-button {
        margin-top: 38px; }
        .banner-top .banner-top-content .content-left .banner-button button {
          border: 2px solid white;
          background-color: #E91E63;
          padding-left: 24px;
          padding-right: 24px; }
          .banner-top .banner-top-content .content-left .banner-button button span {
            color: #ffffff;
            font-weight: 700;
            line-height: 22px;
            font-size: 14px;
            font-family: OpenSans; }
    .banner-top .banner-top-content .content-right img {
      max-width: 100%; }

.information {
  padding-top: 66px;
  padding-bottom: 45px;
  background-color: white; }
  .information .information-content .top-title h2 {
    color: black;
    font-weight: 300;
    line-height: 34px;
    font-size: 30px;
    font-family: OpenSansLight;
    padding-bottom: 20px; }
  .information .information-content hr {
    max-width: 12%;
    border-top: 2px solid #FF5722; }
  .information .information-content .information-list {
    padding-top: 40px;
    max-width: 690px;
    margin: 0 auto; }
    .information .information-content .information-list .list-type-one {
      margin-bottom: 50px;
      min-height: 87px; }
      .information .information-content .information-list .list-type-one .list-left {
        width: 49%;
        float: left;
        text-align: right;
        padding-right: 30px; }
        .information .information-content .information-list .list-type-one .list-left .top h6 {
          color: #ff5722;
          font-weight: 700;
          line-height: 20px;
          font-size: 16px;
          margin-top: 0; }
        .information .information-content .information-list .list-type-one .list-left .bottom span {
          color: #474747;
          font-weight: 400;
          line-height: 20px;
          font-size: 14px;
          font-family: OpenSans; }
      .information .information-content .information-list .list-type-one .col-center {
        width: 11px;
        float: left;
        background-color: #EBEBEB;
        height: 85px; }
      .information .information-content .information-list .list-type-one .list-right {
        width: 49%;
        float: left; }
        .information .information-content .information-list .list-type-one .list-right h1 {
          color: #d6d6d6;
          font-weight: 700;
          line-height: 68px;
          font-size: 64px;
          margin-top: 0;
          padding-left: 30px; }
    .information .information-content .information-list .list-type-two {
      margin-bottom: 50px;
      min-height: 87px; }
      .information .information-content .information-list .list-type-two .list-left {
        width: 49%;
        float: left;
        text-align: right;
        padding-right: 30px; }
        .information .information-content .information-list .list-type-two .list-left h1 {
          color: #d6d6d6;
          font-weight: 700;
          line-height: 68px;
          font-size: 64px;
          margin-top: 0;
          padding-left: 30px; }
      .information .information-content .information-list .list-type-two .col-center {
        width: 11px;
        float: left;
        background-color: #EBEBEB;
        height: 85px; }
      .information .information-content .information-list .list-type-two .list-right {
        width: 49%;
        float: left;
        padding-left: 30px; }
        .information .information-content .information-list .list-type-two .list-right .top h6 {
          color: #ff5722;
          font-weight: 700;
          line-height: 20px;
          font-size: 16px;
          margin-top: 0; }
        .information .information-content .information-list .list-type-two .list-right .bottom span {
          color: #474747;
          font-weight: 400;
          line-height: 20px;
          font-size: 14px;
          font-family: OpenSans; }

.my-skill {
  padding-top: 115px;
  padding-bottom: 80px; }
  .my-skill .my-skill-content .content-left .top-title h3 {
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 1px;
    font-family: OpenSans;
    font-size: 24px; }
  .my-skill .my-skill-content .content-left .sub-top-title h6 {
    color: #757575;
    font-weight: 300;
    line-height: 22px;
    font-size: 16px;
    font-family: OpenSansLight; }
  .my-skill .my-skill-content .content-left .bottom {
    margin-top: 45px; }
    .my-skill .my-skill-content .content-left .bottom .list .left .icon, .my-skill .my-skill-content .content-left .bottom .list .right .icon {
      color: #FF5722;
      font-size: 45px; }
    .my-skill .my-skill-content .content-left .bottom .list .left .title, .my-skill .my-skill-content .content-left .bottom .list .right .title {
      margin-top: 15px; }
      .my-skill .my-skill-content .content-left .bottom .list .left .title h6, .my-skill .my-skill-content .content-left .bottom .list .right .title h6 {
        color: #424242;
        text-transform: uppercase;
        font-weight: 700;
        line-height: 20px;
        font-size: 16px;
        font-family: OpenSans; }
    .my-skill .my-skill-content .content-left .bottom .list .left .description p, .my-skill .my-skill-content .content-left .bottom .list .right .description p {
      color: #757575;
      line-height: 19px;
      font-family: OpenSansLight;
      font-size: 13px; }
  .my-skill .my-skill-content .content-right img {
    max-width: 100%; }

.career {
  background-color: #F2F2F2;
  padding-top: 48px;
  padding-bottom: 130px; }
  .career .career-content {
    font-family: Roboto; }
    .career .career-content .title h2 {
      color: black;
      font-weight: 400;
      line-height: 34px;
      font-size: 30px; }
    .career .career-content .sub-title h6 {
      color: #424242;
      font-weight: 400;
      line-height: 20px;
      font-size: 14px; }
    .career .career-content .bottom {
      padding-top: 36px;
      max-width: 786px;
      margin: 0 auto; }
      .career .career-content .bottom .list {
        height: 61px;
        margin-bottom: 18px; }
        .career .career-content .bottom .list .left .content-left {
          font-size: 31px;
          float: left;
          width: 59px; }
          .career .career-content .bottom .list .left .content-left i {
            color: white;
            background-color: #FA9533;
            border-radius: 110px;
            padding: 11px 13px 9px 14px;
            border: 5px solid white; }
        .career .career-content .bottom .list .center {
          float: left; }
          .career .career-content .bottom .list .center hr {
            border-top: 5px solid white;
            margin-top: 26px;
            width: 70px; }
        .career .career-content .bottom .list .right {
          float: left;
          background-color: white;
          padding-top: 20px;
          padding-bottom: 20px;
          width: 83%; }
          .career .career-content .bottom .list .right .year {
            float: left;
            width: 20%;
            text-align: center; }
            .career .career-content .bottom .list .right .year h1 {
              color: #424242;
              font-weight: 700;
              line-height: 18px;
              font-family: OpenSans;
              font-size: 14px;
              margin: 0; }
          .career .career-content .bottom .list .right .text {
            float: left;
            width: 80%; }
            .career .career-content .bottom .list .right .text p {
              margin: 0;
              color: #424242;
              font-weight: 400;
              line-height: 20px;
              font-family: Roboto;
              font-size: 14px; }

.comments {
  background-color: #EEEEEE;
  padding-top: 40px;
  padding-bottom: 85px; }
  .comments .comments-content .title h2 {
    color: black;
    font-weight: 300;
    line-height: 34px;
    font-family: OpenSansLight;
    font-size: 30px; }
  .comments .comments-content .sub-title h6 {
    color: black;
    font-weight: 300;
    line-height: 20px;
    font-size: 16px;
    font-family: OpenSansLight; }
  .comments .comments-content .top-comment {
    padding-top: 35px;
    max-width: 745px;
    margin: 0 auto; }
    .comments .comments-content .top-comment .content-left {
      text-align: right; }
      .comments .comments-content .top-comment .content-left img {
        max-width: 100%;
        border-radius: 110px; }
    .comments .comments-content .top-comment .content-right {
      font-family: RobotoSlab; }
      .comments .comments-content .top-comment .content-right .wrap-text {
        padding: 3px 50px 20px 33px;
        background-color: white; }
        .comments .comments-content .top-comment .content-right .wrap-text .top h3 {
          color: #424242;
          font-weight: 400;
          line-height: 28px;
          font-size: 24px; }
        .comments .comments-content .top-comment .content-right .wrap-text .bottom p {
          color: #757575;
          font-weight: 400;
          line-height: 19px;
          font-size: 14px;
          margin: 0; }
  .comments .comments-content .bottom-comments {
    margin-top: 70px; }
    .comments .comments-content .bottom-comments .bottom-comments-left .left img {
      max-width: 100%;
      border-radius: 110px;
      border: 2px solid white; }
    .comments .comments-content .bottom-comments .bottom-comments-left .right {
      font-family: OpenSans; }
      .comments .comments-content .bottom-comments .bottom-comments-left .right .top h5 {
        color: #424242;
        font-weight: 400;
        line-height: 22px;
        font-size: 18px; }
      .comments .comments-content .bottom-comments .bottom-comments-left .right .center {
        max-width: 90%; }
        .comments .comments-content .bottom-comments .bottom-comments-left .right .center p {
          color: #757575;
          font-weight: 400;
          line-height: 19px;
          font-size: 13px;
          background-color: white;
          padding: 15px 23px;
          margin: 0; }
      .comments .comments-content .bottom-comments .bottom-comments-left .right .bottom hr {
        border-top: 1px dashed #BDBDBD; }
  .comments .comments-content .form-signup {
    border: 2px dashed #BDBDBD;
    padding: 23px;
    background-color: white; }
    .comments .comments-content .form-signup .top-title h6 {
      color: #d50000;
      font-weight: 700;
      line-height: 20px;
      font-size: 16px;
      font-family: OpenSans;
      margin-top: 0; }
    .comments .comments-content .form-signup .description h6 {
      color: #616161;
      line-height: 17px;
      font-family: OpenSans;
      font-size: 13px; }
    .comments .comments-content .form-signup form input {
      border: 1px solid #C4C4C4;
      padding: 18px 7px;
      width: 100%; }
    .comments .comments-content .form-signup .form-button button {
      background-color: #3D9BE9;
      padding: 7px 32px; }
      .comments .comments-content .form-signup .form-button button span {
        color: #ffffff;
        font-weight: 700;
        line-height: 22px;
        font-size: 14px; }
    .comments .comments-content .form-signup .last-description {
      margin-top: 15px;
      font-family: OpenSans; }
      .comments .comments-content .form-signup .last-description h6 {
        color: rgba(105, 105, 105, 0.98);
        line-height: 17px;
        font-size: 13px; }

.rewards {
  padding-top: 30px;
  padding-bottom: 30px; }
  .rewards .rewards-content {
    max-width: 700px;
    margin: 0 auto;
    margin-top: 60px; }
    .rewards .rewards-content .text-left .top h2 {
      color: #212121;
      font-weight: 300;
      line-height: 32px;
      font-size: 30px;
      font-family: OpenSansLight; }
    .rewards .rewards-content .text-left .center p {
      color: #616161;
      font-weight: 400;
      line-height: 20px;
      font-size: 14px;
      font-family: OpenSansLight; }
    .rewards .rewards-content .img-right {
      max-width: 100%; }

.footer {
  background-color: #343638;
  font-family: OpenSansLight;
  padding-top: 45px;
  padding-bottom: 35px; }
  .footer .footer-content .title h2 {
    color: #03a9f4;
    font-weight: 300;
    line-height: 34px;
    font-size: 30px; }
  .footer .footer-content .sub-title {
    max-width: 883px;
    margin: 0 auto; }
    .footer .footer-content .sub-title h6 {
      color: #e0e0e0;
      font-weight: 300;
      line-height: 22px;
      font-size: 16px;
      margin-top: 20px; }
  .footer .footer-content .icon-plane {
    margin-top: 48px; }
  .footer .footer-content .bottom-button button {
    background-color: #FF9800;
    padding: 17px 49px;
    border-radius: 5px;
    border-bottom: 4px solid #FF6D00; }
    .footer .footer-content .bottom-button button span {
      color: #ffffff;
      line-height: 22px;
      font-family: OpenSans;
      font-size: 14px; }
  .footer .footer-content .bottom-text {
    margin-top: 20px; }
    .footer .footer-content .bottom-text p {
      color: #e0e0e0;
      line-height: 24px;
      font-size: 14px; }

@media (max-width: 991px) {
  .banner-top .banner-top-content {
    padding-top: 0; }

  .banner-top .banner-top-content .content-left {
    margin-bottom: 20px; }

  .my-skill .my-skill-content .content-left .bottom {
    margin-bottom: 20px; }

  .my-skill .my-skill-content .content-right {
    text-align: center; }

  .my-skill .my-skill-content .content-left .left, .my-skill .my-skill-content .content-left .right {
    margin-bottom: 25px; }

  .career .career-content .bottom .list .right {
    max-width: 82%; }

  .comments .comments-content .top-comment .content-left {
    text-align: center;
    margin-bottom: 20px; }

  .bottom-comments-left .list {
    text-align: center; }
    .bottom-comments-left .list .center {
      max-width: 100% !important; } }
@media (max-width: 767px) {
  .career .career-content .bottom .list .left .content-left {
    float: unset;
    width: 100%;
    text-align: center; }

  .career .career-content .bottom .list .center {
    float: unset; }

  .career .career-content .bottom .list .right {
    max-width: 100% !important;
    width: 100% !important;
    float: unset;
    padding-bottom: 40px; }

  .career .career-content .bottom .list {
    min-height: 170px; }

  .text-left {
    text-align: center; }

  .img-right {
    text-align: center;
    margin-top: 40px; }

  .comments .comments-content .top-comment .content-right .wrap-text .top h3 {
    text-align: center; }

  .career {
    padding-bottom: 60px; }

  .my-skill-content .content-left {
    text-align: center; }

  .my-skill {
    padding-top: 50px; }

  .banner-top {
    padding-bottom: 110px; } }
@media (max-width: 578px) {
  .information .information-content .information-list .list-type-one .list-right, .information .information-content .information-list .list-type-two .list-right {
    width: 47%; } }
@media (max-width: 450px) {
  .career .career-content .bottom .list .right {
    padding-bottom: 55px;
    padding-right: 10px; }

  .career .career-content .bottom .list {
    min-height: 210px; } }
@media (max-width: 320px) {
  .banner-top .banner-top-content .content-left .top-title h1 {
    font-size: 30px; } }

/*# sourceMappingURL=app.css.map */
