/*CSS for khoa hoc 1*/
@font-face {
  font-family: robotoslab;
  src: url("RobotoSlab-Regular.ttf");
}

.padding-right-0 {
  padding-right: 0;
}

.padding-left-0 {
  padding-left: 0;
}

.margin-right-0 {
  margin-right: 0;
}

.margin-right-0 {
  margin-right: 0;
}

body {
  padding: 0;
  margin: 0;
  position: relative;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
}

header {
  width: 100%;
  height: 80px;
  background-color: rgba(10, 10, 10, 0.79);
}

.top-title {
  background-color: rgba(255, 184, 27, 1);
  height: 100%;
  .mg-top-20 {
    margin-top: 20px;
    padding-bottom: 30px;
    .top-title-text {
      font-family: robotoslab, serif;
      color: rgba(255, 255, 255, 1);
      font-weight: 600;
      line-height: 34px;
      font-size: 30px;
      text-align: left;

    }
    .top-text-small {
      font-family: robotoslab, serif;
      font-size: 17px;
      color: white;
      padding-bottom: 20px;
      font-weight: 600;
    }
  }
}

.banner-top {
  height: 100%;
  width: 100%;
  .banner-top-left {
    height: 100%;
    background-color: #29487d;
    .banner-top-left-text {
      width: 70%;
      margin: 0 auto;
      padding-top: 40px;
      padding-bottom: 40px;
      .banner-title {
        font-family: robotoslab, serif;
        color: white;
        font-weight: 400;
        line-height: 62px;
        font-size: 66px;
        text-align: left;
      }
      .banner-top-desc {
        margin-top: 35px;
        margin-bottom: 40px;
        .banner-desc {
          color: rgba(199, 199, 199, 1);
          font-weight: 400;
          line-height: 20px;
          .fa-chevron-circle-down {
            padding-right: 5px;
          }
        }
      }
      .banner-button button {
        background-color: rgba(179, 0, 0, 1);
        font-family: robotoslab, serif;
        color: white;
        font-weight: 600;
        font-size: 15px;
        text-align: center;
        border-radius: 5px;
        border: none;
        height: 53px;
        span {
          padding-left: 20px;
          padding-right: 20px;
        }
      }
    }
  }
  .banner-top-right {
    img {
      max-width: 100%;
      min-height: 351px;
    }
  }
}

.subcribe-class {
  margin-top: 35px;
  margin-bottom: 40px;
  .subcribe-class-img {
    img {
      max-width: 100%;
    }
  }
  .form-subcribe {
    margin-top: 30px;
    .form-subcribe-title {
      h1 {
        font-family: "Open Sans", sans-serif;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        color: #34495e;
        font-weight: 700;
        line-height: 42px;
      }
    }
    .form-subcribe-input {
      .input-border {
        border-radius: 4px;
        border-width: 2px;
        border-style: solid;
        border-color: rgba(194, 194, 194, 1);

      }
      .input-height {
        height: 55px;
      }
      .input-height-textbox {
        height: 245px;
      }
      button {
        padding: 12px 110px;
        border-radius: 3px;
        background-color: rgba(255, 184, 27, 1);
        border: none;
        font-weight: 700;
        font-size: 16px;
      }
    }
  }
}

.classes-gallery {
  background-color: aliceblue;
  padding-bottom: 70px;
  .classes-gallery-title {
    text-align: center;
    margin-top: 55px;
    margin-bottom: 20px;
    span {
      font-family: "Open Sans", sans-serif;
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased;
      color: #34495e;
      font-weight: 700;
      line-height: 42px;
      font-size: 36px;
    }
  }
  .classes-gallery-img {
    img {
      max-width: 100%;
    }
    .margin-top-25 {
      margin-top: 25px;
    }
  }
}

.classes-services {
  margin-bottom: 20px;
  .classes-services-title {
    text-align: center;
    margin-top: 55px;
    margin-bottom: 20px;
    span {
      font-family: "Open Sans", sans-serif;
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased;
      color: #34495e;
      font-weight: 700;
      line-height: 42px;
      font-size: 36px;
    }
  }
  .classes-services-img {
    .classes-service-list-right, .classes-service-list-left {
      width: 100%;
      height: 129px;
      background-color: aliceblue;
      margin-bottom: 26px;
      .classes-service-list-left-text {
        width: 75%;
        float: left;
        text-align: right;
        margin-top: 30px;
        .text-above {
          font-family: "Open Sans", sans-serif;
          text-rendering: optimizeLegibility;
          -webkit-font-smoothing: antialiased;
          color: #34495e;
          font-weight: 700;
          line-height: 30px;
          font-size: 24px;
          padding-bottom: 5px;
        }
      }
      .classes-service-list-left-img {
        width: 25%;
        float: left;
        text-align: center;
        padding-top: 30px;
        img {
          max-width: 70px;
          border-radius: 110px;
        }
      }
    }
    .classes-service-list-right {
      .classes-service-list-right-img {
        width: 25%;
        float: left;
        text-align: center;
        padding-top: 30px;
        img {
          max-width: 70px;
          border-radius: 110px;
        }
      }
      .classes-service-list-right-text {
        width: 75%;
        float: left;
        text-align: left;
        margin-top: 30px;
        .text-above {
          font-family: "Open Sans", sans-serif;
          text-rendering: optimizeLegibility;
          -webkit-font-smoothing: antialiased;
          color: #34495e;
          font-weight: 700;
          line-height: 30px;
          font-size: 24px;
          padding-bottom: 5px;
        }
      }
    }
  }
}

.teacher-stuff {
  background-color: aliceblue;
  padding-bottom: 50px;
  .teacher-stuff-title {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 25px;
    span {
      font-family: "Open Sans", sans-serif;
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased;
      color: #34495e;
      font-weight: 700;
      line-height: 42px;
      font-size: 36px;
    }
  }
  .teacher-info {
    .info {
      margin-top: 15px;
      background-color: white;
      border-radius: 3px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      text-align: center;
      .info-name {
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        color: rgba(255, 184, 27, 1);
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
        padding-top: 20px;
        padding-bottom: 15px;
      }
      .info-img {
        margin-bottom: 25px;
        img {
          border-radius: 110px;
          border: solid 5px aliceblue;
        }
      }
      .info-staff {
        .text-bottom {
          font-weight: 700;
        }
      }
      .info-description {
        margin-left: 5px;
        margin-right: 5px;
        padding-bottom: 25px;
      }
    }
  }
}

.footer {
  background-color: #29487d;
  .footer-title {
    margin-top: 50px;
    border-bottom: 1px solid white;
    padding-bottom: 15px;
    span {
      color: rgba(255, 255, 255, 1);
      font-weight: 700;
      line-height: 22px;
      font-size: 18px;
      text-align: left;
    }
    .fa-map-marker {
      font-size: 30px;
      color: red;
      padding-right: 10px;
    }
  }
  .border-bottom {
    border-bottom: 1px solid white;
    margin-bottom: 20px;
    .store-address {
      font-size: 14px;
      color: white;
      margin-bottom: 25px;
      margin-top: 25px;
      .address-title {
        font-weight: bold;
      }
    }
  }
}

@media (max-width: 991px) {
  .banner-top .banner-top-right img {
    max-width: 100%;
    min-height: 412px;
  }
}

@media (max-width: 479px) {
  .banner-top .banner-top-left .banner-top-left-text .banner-title{
    font-size: 45px;
  }
  .classes-services .classes-services-title span{
    font-size: 30px;
  }
  .teacher-stuff .teacher-stuff-title span{
    font-size: 30px;
  }
  .classes-services .classes-services-img .classes-service-list-right .classes-service-list-left-text .text-above, .classes-services .classes-services-img .classes-service-list-left .classes-service-list-left-text .text-above,.classes-services .classes-services-img .classes-service-list-right .classes-service-list-right-text .text-above{
    font-size: 20px;
  }
  .banner-top .banner-top-right img{
    display: none;
  }
}