/*CSS for khoa hoc 1*/
@font-face {
  font-family: robotoslab;
  src: url("RobotoSlab-Regular.ttf"); }
.padding-right-0 {
  padding-right: 0; }

.padding-left-0 {
  padding-left: 0; }

.margin-right-0 {
  margin-right: 0; }

.margin-right-0 {
  margin-right: 0; }

body {
  padding: 0;
  margin: 0;
  position: relative;
  width: 100%;
  font-family: 'Open Sans', sans-serif; }

header {
  width: 100%;
  height: 80px;
  background-color: #181E29; }

.top-title {
  background-color: #ffb81b;
  height: 100%; }
  .top-title .mg-top-20 {
    margin-top: 20px;
    padding-bottom: 30px; }
    .top-title .mg-top-20 .top-title-text {
      font-family: robotoslab, serif;
      color: white;
      font-weight: 600;
      line-height: 34px;
      font-size: 30px;
      text-align: left; }
    .top-title .mg-top-20 .top-text-small {
      font-family: robotoslab, serif;
      font-size: 17px;
      color: white;
      padding-bottom: 20px;
      font-weight: 600; }
  .top-title .margin-left-top-title {
    margin-left: 120px; }

.banner-top {
  height: 100%;
  width: 100%; }
  .banner-top .banner-top-left {
    height: 100%;
    background-color: #181E29; }
    .banner-top .banner-top-left .banner-top-left-text {
      padding-top: 40px;
      padding-bottom: 40px; }
      .banner-top .banner-top-left .banner-top-left-text .banner-title {
        font-family: robotoslab, serif;
        color: white;
        font-weight: 400;
        line-height: 62px;
        font-size: 66px;
        text-align: left; }
      .banner-top .banner-top-left .banner-top-left-text .banner-top-desc {
        margin-top: 35px;
        margin-bottom: 40px; }
        .banner-top .banner-top-left .banner-top-left-text .banner-top-desc .banner-desc {
          color: #c7c7c7;
          font-weight: 400;
          line-height: 20px; }
          .banner-top .banner-top-left .banner-top-left-text .banner-top-desc .banner-desc .fa-chevron-circle-down {
            padding-right: 5px; }
      .banner-top .banner-top-left .banner-top-left-text .banner-button button {
        background-color: #b30000;
        font-family: robotoslab, serif;
        color: white;
        font-weight: 600;
        font-size: 15px;
        text-align: center;
        border-radius: 5px;
        border: none;
        height: 53px; }
        .banner-top .banner-top-left .banner-top-left-text .banner-button button span {
          padding-left: 20px;
          padding-right: 20px; }
  .banner-top .banner-top-right img {
    max-width: 100%;
    min-height: 350px; }

.subcribe-class {
  margin-top: 35px;
  margin-bottom: 40px; }
  .subcribe-class .subcribe-class-img img {
    max-width: 100%; }
  .subcribe-class .form-subcribe {
    margin-top: 30px; }
    .subcribe-class .form-subcribe .form-subcribe-title h1 {
      font-family: "Open Sans", sans-serif;
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased;
      color: #34495e;
      font-weight: 700;
      line-height: 42px; }
    .subcribe-class .form-subcribe .form-subcribe-input .input-border {
      border-radius: 4px;
      border-width: 2px;
      border-style: solid;
      border-color: #c2c2c2; }
    .subcribe-class .form-subcribe .form-subcribe-input .input-height {
      height: 55px; }
    .subcribe-class .form-subcribe .form-subcribe-input .input-height-textbox {
      height: 245px; }
    .subcribe-class .form-subcribe .form-subcribe-input .form-width {
      width: 267px;
      font-size: 13px; }
    .subcribe-class .form-subcribe .form-subcribe-input button {
      padding: 12px 110px;
      border-radius: 3px;
      background-color: #ffb81b;
      border: none;
      font-weight: 700;
      font-size: 16px; }

.classes-gallery {
  background-color: #F5F5F5;
  padding-bottom: 70px; }
  .classes-gallery .classes-gallery-title {
    text-align: center;
    margin-top: 55px;
    margin-bottom: 20px; }
    .classes-gallery .classes-gallery-title span {
      font-family: "Open Sans", sans-serif;
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased;
      color: #34495e;
      font-weight: 700;
      line-height: 42px;
      font-size: 36px; }
  .classes-gallery .classes-gallery-img img {
    max-width: 100%; }
  .classes-gallery .classes-gallery-img .margin-top-25 {
    margin-top: 25px; }

.classes-services {
  margin-bottom: 20px; }
  .classes-services .classes-services-title {
    text-align: center;
    margin-top: 55px;
    margin-bottom: 20px; }
    .classes-services .classes-services-title span {
      font-family: "Open Sans", sans-serif;
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased;
      color: #34495e;
      font-weight: 700;
      line-height: 42px;
      font-size: 36px; }
  .classes-services .classes-services-img .classes-service-list-right, .classes-services .classes-services-img .classes-service-list-left {
    width: 100%;
    height: 129px;
    background-color: #F0F0F0;
    margin-bottom: 26px; }
    .classes-services .classes-services-img .classes-service-list-right .classes-service-list-left-text, .classes-services .classes-services-img .classes-service-list-left .classes-service-list-left-text {
      width: 75%;
      float: left;
      text-align: right;
      margin-top: 30px; }
      .classes-services .classes-services-img .classes-service-list-right .classes-service-list-left-text .text-above, .classes-services .classes-services-img .classes-service-list-left .classes-service-list-left-text .text-above {
        font-family: "Open Sans", sans-serif;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        color: #34495e;
        font-weight: 700;
        line-height: 30px;
        font-size: 24px;
        padding-bottom: 5px; }
    .classes-services .classes-services-img .classes-service-list-right .classes-service-list-left-img, .classes-services .classes-services-img .classes-service-list-left .classes-service-list-left-img {
      width: 25%;
      float: left;
      text-align: center;
      padding-top: 30px; }
      .classes-services .classes-services-img .classes-service-list-right .classes-service-list-left-img img, .classes-services .classes-services-img .classes-service-list-left .classes-service-list-left-img img {
        max-width: 70px;
        border-radius: 110px; }
  .classes-services .classes-services-img .classes-service-list-right .classes-service-list-right-img {
    width: 25%;
    float: left;
    text-align: center;
    padding-top: 30px; }
    .classes-services .classes-services-img .classes-service-list-right .classes-service-list-right-img img {
      max-width: 70px;
      border-radius: 110px; }
  .classes-services .classes-services-img .classes-service-list-right .classes-service-list-right-text {
    width: 75%;
    float: left;
    text-align: left;
    margin-top: 30px; }
    .classes-services .classes-services-img .classes-service-list-right .classes-service-list-right-text .text-above {
      font-family: "Open Sans", sans-serif;
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased;
      color: #34495e;
      font-weight: 700;
      line-height: 30px;
      font-size: 24px;
      padding-bottom: 5px; }

.teacher-stuff {
  background-color: #FAFAFA;
  padding-bottom: 50px; }
  .teacher-stuff .teacher-stuff-title {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 25px; }
    .teacher-stuff .teacher-stuff-title span {
      font-family: "Open Sans", sans-serif;
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased;
      color: #34495e;
      font-weight: 700;
      line-height: 42px;
      font-size: 36px; }
  .teacher-stuff .teacher-info .info {
    margin-top: 15px;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center; }
    .teacher-stuff .teacher-info .info .info-name {
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased;
      color: #ffb81b;
      font-weight: 700;
      font-size: 18px;
      line-height: 24px;
      padding-top: 20px;
      padding-bottom: 15px; }
    .teacher-stuff .teacher-info .info .info-img {
      margin-bottom: 25px; }
      .teacher-stuff .teacher-info .info .info-img img {
        border-radius: 110px;
        border: solid 5px aliceblue; }
    .teacher-stuff .teacher-info .info .info-staff .text-bottom {
      font-weight: 700; }
    .teacher-stuff .teacher-info .info .info-description {
      margin-left: 5px;
      margin-right: 5px;
      padding-bottom: 25px; }

.footer {
  background-color: #333F50; }
  .footer .footer-title {
    margin-top: 50px;
    border-bottom: 1px solid white;
    padding-bottom: 15px; }
    .footer .footer-title span {
      color: white;
      font-weight: 700;
      line-height: 22px;
      font-size: 18px;
      text-align: left; }
    .footer .footer-title .fa-map-marker {
      font-size: 30px;
      color: red;
      padding-right: 10px; }
  .footer .border-bottom {
    border-bottom: 1px solid white;
    margin-bottom: 20px; }
    .footer .border-bottom .store-address {
      font-size: 14px;
      color: white;
      margin-bottom: 25px;
      margin-top: 25px; }
      .footer .border-bottom .store-address .address-title {
        font-weight: bold; }

.padding-left-banner-top {
  padding-left: 120px; }

@media (max-width: 1199px) {
  .subcribe-class .form-subcribe .form-subcribe-input .form-width {
    width: 218px; }

  .top-title .margin-left-23 {
    margin-left: 119px; } }
@media (max-width: 991px) {
  .banner-top .banner-top-right img {
    max-width: 100%;
    min-height: 412px; }

  .subcribe-class .form-subcribe .form-subcribe-input .form-width {
    width: 192px; }

  .top-title .margin-left-23 {
    margin-left: 81px; }

  .subcribe-class .form-subcribe .form-subcribe-input .input-height-textbox {
    height: 154px; }

  .classes-gallery .classes-gallery-img img {
    margin-top: 10px; }

  .top-title .margin-left-top-title {
    margin-left: 47px; }

  .padding-left-banner-top {
    padding-left: 46px; } }
@media (max-width: 767px) {
  .subcribe-class .subcribe-class-img {
    text-align: center; }
    .subcribe-class .subcribe-class-img img {
      max-width: 70%; }

  .form-subcribe .form-subcribe-title h1 {
    text-align: center;
    font-size: 30px; }

  .form-width {
    margin: 0 auto; }

  .form-subcribe-input {
    text-align: center; }

  .margin-top-15 {
    margin-top: 15px;
    width: 250px !important; }

  .input-height, .input-height-textbox {
    width: 265px !important;
    margin: 0 auto; }

  .subcribe-class .form-subcribe .form-subcribe-input button {
    padding: 12px 94px; } }
@media (max-width: 479px) {
  .banner-top .banner-top-left .banner-top-left-text .banner-title {
    font-size: 45px; }

  .classes-services .classes-services-title span {
    font-size: 30px; }

  .teacher-stuff .teacher-stuff-title span {
    font-size: 30px; }

  .classes-gallery .classes-gallery-title span {
    font-size: 30px; }

  .classes-services .classes-services-img .classes-service-list-right .classes-service-list-left-text .text-above, .classes-services .classes-services-img .classes-service-list-left .classes-service-list-left-text .text-above, .classes-services .classes-services-img .classes-service-list-right .classes-service-list-right-text .text-above {
    font-size: 20px; }

  .banner-top .banner-top-right img {
    display: none; }

  .subcribe-class .form-subcribe .form-subcribe-input button {
    padding: 12px 90px; }

  .classes-services .classes-services-img .classes-service-list-left .classes-service-list-left-text {
    width: 70%; }

  .classes-services .classes-services-img .classes-service-list-left .classes-service-list-left-img {
    width: 30%; }

  .classes-services .classes-services-img .classes-service-list-right .classes-service-list-right-img {
    width: 30%; }

  .classes-services .classes-services-img .classes-service-list-right .classes-service-list-right-text {
    width: 70%; }

  .margin-left-top-title {
    margin-left: 90px; }

  .padding-left-banner-top {
    margin-left: 0; } }

/*# sourceMappingURL=app.css.map */
